name: Auto tag

# Automatically push a tag every 1st and 15th of the month

on:
  schedule:
    - cron: '40 12 15 * *'

jobs:
  auto-tag:
    name: Automatic Tag
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.39.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
